// nothing was said about removing margins on body.

$calendar-cell-width: 100px;
$calendar-cell-height: 100px;
$calendar-cell-gap: 1px;
$days:
  mon 0,
  tue 1,
  wed 2,
  thu 3,
  fri 4,
  sat 5,
  sun 6;

.centering-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &__target {
    margin: 0;
  }
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $calendar-cell-gap;

  width: $calendar-cell-width * 7 + $calendar-cell-gap * 6;
  padding: 10px;

  list-style: none;

  &-- {
    // "all the modifiers" section; good?
    &month-length {
      @for $length from 28 through 31 {
        &--#{$length} {
          & :nth-child(n + #{$length + 1}) {
            // is the application of maths good?
            display: none;
          }
        }
      }
    }

    &start-day {
      @each $day, $number in $days {
        &--#{$day} {
          & :first-child {
            // is the choice of selectors good?
            margin-left: $number * ($calendar-cell-width + $calendar-cell-gap);
          }
        }
      }
    }
  }

  &__cell {
    box-sizing: border-box;
    width: $calendar-cell-width;
    height: $calendar-cell-height;
    border: 1px solid black;

    line-height: $calendar-cell-height;
    text-align: center;

    background-color: #eee;

    @for $cell-number from 1 through 31 {
      &:nth-child(#{$cell-number}):before {
        content: '#{$cell-number}';
        font-family: Arial, sans-serif;
        font-size: 30px;
      }
    }

    transition-duration: 0.5s;
    transition-property: background-color transform;
    &:hover {
      cursor: pointer;
      transform: translateY(-20px);
      background-color: #ffbfcb;
    }
  }
}
